### Import the raw datasets.

In [15]:
# import raw datasets
import pandas as pd

ev_population_data = pd.read_csv("datasets/Electric_Vehicle_Population_Data.csv")
ev_population_size_history_county = pd.read_csv("datasets/Electric_Vehicle_Population_Size_History_By_County.csv")
ev_population_size_history = pd.read_csv("datasets/Electric_Vehicle_Population_Size_History.csv")
ev_WA_tax_exemptions = pd.read_csv("datasets/WA_Tax_Exemptions_-_Potential_Eligibility_by_Make_Model_Excluding_Vehicle_Price_Criteria.csv")

### Print the information of the columns from the raw datasets.

In [16]:
# for ev_population_data
print(ev_population_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223995 entries, 0 to 223994
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         223995 non-null  object
 1   County                                             223992 non-null  object
 2   City                                               223992 non-null  object
 3   State                                              223995 non-null  object
 4   Postal Code                                        223992 non-null  float64
 5   Model Year                                         223995 non-null  int64
 6   Make                                               223995 non-null  object
 7   Model                                              223995 non-null  object
 8   Electric Vehicle Type                              223995 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  223995 non-null  object
 10  Electric Range                                     223977 non-null  float64
 11  Base MSRP                                          223977 non-null  float64
 12  Legislative District                               223521 non-null  float64
 13  DOL Vehicle ID                                     223995 non-null  int64
 14  Vehicle Location                                   223985 non-null  object
 15  Electric Utility                                   223992 non-null  object
 16  2020 Census Tract                                  223992 non-null  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 29.1+ MB
None

In [17]:
# for ev_population_size_history_county
print(ev_population_size_history_county.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24873 entries, 0 to 24872
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      24873 non-null  object
 1   County                                    24777 non-null  object
 2   State                                     24777 non-null  object
 3   Vehicle Primary Use                       24873 non-null  object
 4   Battery Electric Vehicles (BEVs)          24873 non-null  int64
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  24873 non-null  int64
 6   Electric Vehicle (EV) Total               24873 non-null  int64
 7   Non-Electric Vehicle Total                24873 non-null  int64
 8   Total Vehicles                            24873 non-null  int64
 9   Percent Electric Vehicles                 24873 non-null  float64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.9+ MB
None

In [18]:
# for ev_population_size_history
print(ev_population_size_history.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Date                                          96 non-null     object
 1   Plug-In Hybrid Electric Vehicle (PHEV) Count  96 non-null     int64
 2   Battery Electric Vehicle (BEV) Count          96 non-null     int64
 3   Electric Vehicle (EV) Total                   96 non-null     int64
dtypes: int64(3), object(1)
memory usage: 3.1+ KB
None

In [19]:
# for ev_WA_tax_exemptions
print(ev_WA_tax_exemptions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1284 entries, 0 to 1283
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Model Year                 1284 non-null   int64
 1   Make                       1284 non-null   object
 2   Vehicle Model Description  1284 non-null   object
 3   Alternative Fuel Type      1284 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.3+ KB
None

### Identify the missing values for each dataset and then discuss how to deal with them accordingly.

In [20]:
# for ev_population_data
# subset the data to contain rows that have at least one NA value
ev_population_data_NA = ev_population_data[ev_population_data.isnull().any(axis = 1)]
ev_population_data_NA.head(10)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
709,5YJSA1E42L,Placer,Roseville,CA,95747.0,2020,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,337.0,0.0,NaN,267663469,POINT (-121.33747 38.80276),NON WASHINGTON STATE ELECTRIC UTILITY,6.061021e+09
2543,WP1BE2AY0S,King,Bellevue,WA,98005.0,2025,PORSCHE,CAYENNE,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,NaN,NaN,48.0,274102944,POINT (-122.1718 47.59246),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
7201,WP1BM2AY4R,King,Kirkland,WA,98033.0,2024,PORSCHE,CAYENNE,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,NaN,NaN,45.0,270889363,POINT (-122.2066 47.67887),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
18664,WP1BN2AY7S,King,Seattle,WA,98112.0,2025,PORSCHE,CAYENNE,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,NaN,NaN,43.0,274203905,POINT (-122.30207 47.64085),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
23337,WP1BE2AY8S,King,Seattle,WA,98125.0,2025,PORSCHE,CAYENNE,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,NaN,NaN,46.0,274122320,POINT (-122.30253 47.72656),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
24999,WP1AE2AY0S,King,Mercer Island,WA,98040.0,2025,PORSCHE,CAYENNE,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,NaN,NaN,41.0,272915765,POINT (-122.21238 47.57816),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
27261,WP1BM2AY1R,King,Seattle,WA,98108.0,2024,PORSCHE,CAYENNE,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,NaN,NaN,11.0,272220189,POINT (-122.30346 47.55379),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
37358,W1NKM8AB0S,King,Bellevue,WA,98006.0,2025,MERCEDES-BENZ,GLC-CLASS,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,NaN,NaN,41.0,275628825,POINT (-122.12096 47.55584),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
64436,W1NKM8AB9S,King,Seattle,WA,98122.0,2025,MERCEDES-BENZ,GLC-CLASS,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,NaN,NaN,37.0,274080355,POINT (-122.31009 47.60803),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
65629,5YJYGDED0M,San Diego,San Diego,CA,92131.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,NaN,187492175,POINT (-117.06451 32.90323),NON WASHINGTON STATE ELECTRIC UTILITY,6.073017e+09

In [21]:
# for ev_population_size_history_county
# subset the data to contain rows that have at least one NA value
ev_population_size_history_county_NA = ev_population_size_history_county[ev_population_size_history_county.isnull().any(axis = 1)]
ev_population_size_history_county_NA.head(10)

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
34,October 31 2022,NaN,NaN,Passenger,4,1,5,305,310,1.61
132,January 31 2019,NaN,NaN,Passenger,3,2,5,418,423,1.18
578,September 30 2019,NaN,NaN,Passenger,7,2,9,411,420,2.14
709,October 31 2024,NaN,NaN,Passenger,3,2,5,217,222,2.25
715,June 30 2024,NaN,NaN,Passenger,3,2,5,232,237,2.11
1246,December 31 2018,NaN,NaN,Passenger,3,2,5,416,421,1.19
1656,May 31 2023,NaN,NaN,Passenger,6,0,6,288,294,2.04
1688,September 30 2020,NaN,NaN,Passenger,6,1,7,368,375,1.87
2122,February 29 2020,NaN,NaN,Passenger,7,2,9,410,419,2.15
2908,January 31 2020,NaN,NaN,Passenger,7,2,9,413,422,2.13

In [22]:
# for ev_population_size_history
# subset the data to contain rows that have at least one NA value
ev_population_size_history_NA = ev_population_size_history[ev_population_size_history.isnull().any(axis = 1)]
ev_population_size_history_NA.head(10)

Empty DataFrame
Columns: [Date, Plug-In Hybrid Electric Vehicle (PHEV) Count, Battery Electric Vehicle (BEV) Count, Electric Vehicle (EV) Total]
Index: []

In [23]:
# for ev_WA_tax_exemptions
# subset the data to contain rows that have at least one NA value
ev_WA_tax_exemptions_NA = ev_WA_tax_exemptions[ev_WA_tax_exemptions.isnull().any(axis = 1)]
ev_WA_tax_exemptions_NA.head(10)

Empty DataFrame
Columns: [Model Year, Make, Vehicle Model Description, Alternative Fuel Type]
Index: []

There are no NA rows in the datasets ev_population_size_history and ev_WA_tax_exemptions. So let's examine closely to the first two datasets: ev_population_data and ev_population_size_history_county.

In [24]:
print(ev_population_data_NA.info())

<class 'pandas.core.frame.DataFrame'>
Index: 499 entries, 709 to 223979
Data columns (total 17 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   VIN (1-10)                                         499 non-null    object
 1   County                                             496 non-null    object
 2   City                                               496 non-null    object
 3   State                                              499 non-null    object
 4   Postal Code                                        496 non-null    float64
 5   Model Year                                         499 non-null    int64
 6   Make                                               499 non-null    object
 7   Model                                              499 non-null    object
 8   Electric Vehicle Type                              499 non-null    object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  499 non-null    object
 10  Electric Range                                     481 non-null    float64
 11  Base MSRP                                          481 non-null    float64
 12  Legislative District                               25 non-null     float64
 13  DOL Vehicle ID                                     499 non-null    int64
 14  Vehicle Location                                   489 non-null    object
 15  Electric Utility                                   496 non-null    object
 16  2020 Census Tract                                  496 non-null    float64
dtypes: float64(5), int64(2), object(10)
memory usage: 70.2+ KB
None

The column that has the most missing values is "Legislative District", having 474 missing values. Other columns have 3 to 18 missing values. After looking through the ev_population_data_NA subset, we realized that for the rows that have missing values for "Legislative District", the values for the column "Electric Utility" are mostly "NON WASHINGTON STATE ELECTRIC UTILITY"; while for the rows that have valid values for "Legislative District", the values for the column "Electric Utility" have various values other than "NON WASHINGTON STATE ELECTRIC UTILITY", for instance, "BONNEVILLE POWER ADMINISTRATION||PUD NO 2 OF PACIFIC COUNTY", "PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)", etc. This makes sense because it might be difficult to track the legislative district if the electric utility is not from Washington state, since this dataset is collected from Washington.  

Since such connection exists, it would be information loss if we simply remove these rows with NA values for "Legislative District". We would keep these rows but replace the NA values with a string "Missing" to indicate that there are no valid values from the original dataset. For other columns, however, the missing values have no visible connection or meaning. Since those are potentially individual mistakes while collecting the data, we decide to just remove these rows.

To conclude, for the dataset ev_population_data, we would replace missing values for the variable "Legislative District" with the string value "Missing". Then we would remove all rows that have any missing value for other variables.

In [25]:
print(ev_population_size_history_county_NA.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 34 to 24722
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      96 non-null     object
 1   County                                    0 non-null      object
 2   State                                     0 non-null      object
 3   Vehicle Primary Use                       96 non-null     object
 4   Battery Electric Vehicles (BEVs)          96 non-null     int64
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  96 non-null     int64
 6   Electric Vehicle (EV) Total               96 non-null     int64
 7   Non-Electric Vehicle Total                96 non-null     int64
 8   Total Vehicles                            96 non-null     int64
 9   Percent Electric Vehicles                 96 non-null     float64
dtypes: float64(1), int64(5), object(4)
memory usage: 8.2+ KB
None

The columns that have missing values are only "County" and "State". All other columns have no missing values. After examining these rows, there are no visible connections among other columns, except for the fact that all these rows have the value of "Passenger" for the column "Vehicle Primary Use". However, this is not a significant connection, because in the original dataset, there are only two distinct values for this column: "Passenger" and "Truck". And there are 84% of the rows have the values of "Passenger". So even though we can say that all "Truck" rows have valid data for "County" and "State", it is not a very significant observation that contributes to any of our research questions.

Therefore, we would simply remove the rows that have missing values from the original dataset ev_population_size_history_county.

### Deal with the datasets accordingly based on the decision above.

In [26]:
# deal with NA values for ev_population_data
# replace missing values for the variable "Legislative District" with the string value "Missing"
ev_population_data["Legislative District"] = ev_population_data["Legislative District"].fillna("Missing")

# remove all rows that have any missing value for other variables
ev_population_data = ev_population_data.dropna()

print(ev_population_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 223967 entries, 0 to 223994
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         223967 non-null  object
 1   County                                             223967 non-null  object
 2   City                                               223967 non-null  object
 3   State                                              223967 non-null  object
 4   Postal Code                                        223967 non-null  float64
 5   Model Year                                         223967 non-null  int64
 6   Make                                               223967 non-null  object
 7   Model                                              223967 non-null  object
 8   Electric Vehicle Type                              223967 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  223967 non-null  object
 10  Electric Range                                     223967 non-null  float64
 11  Base MSRP                                          223967 non-null  float64
 12  Legislative District                               223967 non-null  object
 13  DOL Vehicle ID                                     223967 non-null  int64
 14  Vehicle Location                                   223967 non-null  object
 15  Electric Utility                                   223967 non-null  object
 16  2020 Census Tract                                  223967 non-null  float64
dtypes: float64(4), int64(2), object(11)
memory usage: 30.8+ MB
None

In [27]:
# deal with NA values for ev_population_size_history_county
# remove the rows that have missing values
ev_population_size_history_county = ev_population_size_history_county.dropna()

print(ev_population_size_history_county.info())

<class 'pandas.core.frame.DataFrame'>
Index: 24777 entries, 0 to 24872
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      24777 non-null  object
 1   County                                    24777 non-null  object
 2   State                                     24777 non-null  object
 3   Vehicle Primary Use                       24777 non-null  object
 4   Battery Electric Vehicles (BEVs)          24777 non-null  int64
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  24777 non-null  int64
 6   Electric Vehicle (EV) Total               24777 non-null  int64
 7   Non-Electric Vehicle Total                24777 non-null  int64
 8   Total Vehicles                            24777 non-null  int64
 9   Percent Electric Vehicles                 24777 non-null  float64
dtypes: float64(1), int64(5), object(4)
memory usage: 2.1+ MB
None